.parallax-parent {
    background: url("../images/pic1.jpg") fixed;
    width: 100vw;
    background-size: 100vw;
    background-repeat: no-repeat;
}

.parallax-child {
    padding: 400px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    box-shadow: 5px 5px 5px black;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 400px;
}

.non-parallax {
    background: url("../images/original.gif");
    background-size: cover;
    background-position: 50% 50%;
    width: 100vw;
    height: 80vh;
}

.background-img2 {
    background-image: url("/images/pic3.jpg");
    background-size: cover;
    background-position: 50% 50%;
    width: 100vw;
    height: 80vh;
}

.back-color {
    background: rgba(63, 127, 191, 0.1);
    margin: 0;
    height: 300px;
}
